<div class="social-share clearfix">
  <button data-target="//www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }}"
    class="icon icon-facebook js-share-post"></button>
  <button data-target="//twitter.com/intent/tweet?url={{ page.url | prepend: site.baseurl | prepend: site.url }}"
    class="icon icon-twitter js-share-post"></button>
  <button data-target="https://plus.google.com/up/?{{ page.url | prepend: site.baseurl | prepend: site.url }}"
    class="icon icon-google js-share-post"></button>
</div>