---
layout: default
---
{% assign post = page %}
{% if post.category %}
  {% for site_category in site.data.categories %}
    {% if site_category.slug == post.category %}
        {% assign category = site_category %}
    {% endif %}
  {% endfor %}
  {% if category %}
    {% capture category_content %}
      <a href="/{{ category.slug }}/">{{ category.name }}</a>
    {% endcapture %}
  {% endif %}
{% else %}
  {% assign category_content = '' %}
{% endif %}

<section class="page-content wc-container">
  <article class="post" itemscope itemtype="http://schema.org/Article" role="article">
    <h1 class="post-title" itemprop="name">{{ post.title }}</h1>
    <p class="post-meta">
      <span class="author" itemprop="author">
        {{ post.post_author }}
      </span> |
      <span class="categories" itemprop="about">
        {{ category_content }}
      </span> |
      <time class="post-date" datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished" pubdate>
        {{ post.date | date: "%b %-d, %Y" }}
      </time>
    </p>
    <div>
      {{ content }}
    </div>
    {% include social.html %}
  </article>

  {% if site.related_posts %}
  <div class="related">
    <h4>Posts relacionados</h2>
    <ul class="post-list">
        {% for post in site.related_posts limit:3 %}
        <li>
        <span>{{ post.date | date_to_string }} &raquo;</span>
        <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if post.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        // Required: on line below, replace text in quotes with your forum shortname
        var disqus_shortname = 'ditotecnologia';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}

  <div class="post-footer">
    <div class="column-1">
      {% if post.previous %}
        <a href="{{post.previous.url | prepend: site.baseurl | prepend: site.url }}"><< Antigos</a>
      {% else %}
        <span><< Older</span>
      {% endif %}
    </div>
    <div class="column-2"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }} ">Home</a></div>
    <div class="column-3">
      {% if post.next %}
        <a href="{{ post.next.url | prepend: site.baseurl | prepend: site.url }}">Recentes >></a>
      {% else %}
        <span>Newer >></span>
      {% endif %}
    </div>
  </div>
</section>

